header {
  background-color: #222;
  height: 80px;
}

a {
  color: white;
  text-decoration: none;
  margin: 15px;
  /* float: right; */
}

.hero{
  background-image: url('../img/camera.jpg');
  height: 1000px;
  background-size: cover;
  text-align: center;
  padding-top: 600px;
}

section {
  background-color: #444;
  height: 400px;

}

footer{
  background-color: #555;
  height: 400px;
}

/* header section */
.nav-container {

  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}
